.form {
  margin:24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 80px);
  .wrapper {
    display: flex;

  }
}
.col {
  width: 100%;
  margin: 12px;
}

.btn-actions {
  display: flex;
  justify-content: flex-end;
}